/* Custom styles for Keycloak elements */

/* Example: Styling elements with class names starting with kc 
[class^="kc"] {
    font-family:
        IBM Plex Sans,
        sans-serif;
    color: #333;
    font-size: 16px;
}*/

/* Specific example: Styling the form header 
.kcFormHeaderClass {
    background-color: #ffffff;

    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    color: #222222;
}


body.kcBodyClass {
    background-image: none;
    background-color: #ffffff;
}
/* Add more custom styles as needed */

.kcHeaderWrapperClass {
    background-image: url(./assets/img/3xLOGIC_logo.svg);
}

body.kcBodyClass {
    background-image: none;
    background-color: #b82b2b;
    font-family:
        IBM Plex Sans,
        sans-serif;
}

.kcLoginClass {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    color: #222222;
}
